# ignore generated html files,
    *.txt

# ignore all file in the raw_data folder
raw_data/accelerometer/*.txt
raw_data/gyroscope/*.txt
raw_data/eda/*.txt
raw_data/ppg/*.txt
raw_data/temperature/*.txt
raw_data/uploads/*.txt

# ignore all files in the node_modules/bluetooth-hci-socket folder
node_modules/bluetooth-hci-socket/
node_modules/xpc-connection/
node_modules/level/
noble/.DS_Store
respaldo/

# ignore AWS configuration file
uploader/config.json

# ignore specific mac-related docs
.DS_Store

# ignore all files in the node_modules since they are specific to each platform
node_modules/
